@import "tailwindcss";

@font-face {
  font-family: "Orpheus Pro";
  src: url("/assets/fonts/orpheus-pro/OrpheusPro.woff2") format("woff2"),
       url("/assets/fonts/orpheus-pro/OrpheusPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-pink: 320 87% 75%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-pink: hsl(var(--accent-pink));
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-sans: "Orpheus Pro", serif;
  --font-mono: "Orpheus Pro", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent-pink: 320 87% 75%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-sans);
}

/* --------------------------------- CUSTOM --------------------------------- */

/* Noise Overlay */
@keyframes noise {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-5%, -10%); }
  20% { transform: translate(-15%, 5%); }
  30% { transform: translate(7%, -25%); }
  40% { transform: translate(-5%, 25%); }
  50% { transform: translate(-15%, 10%); }
  60% { transform: translate(15%, 0%); }
  70% { transform: translate(0%, 15%); }
  80% { transform: translate(3%, 35%); }
  90% { transform: translate(-10%, 10%); }
}
.animate-noise {
  animation: noise 8s steps(10) infinite;
}