@import "tailwindcss";

@font-face {
  font-family: "Orpheus Pro";
  src: url("/fonts/orpheus-pro/OrpheusPro.woff2") format("woff2"),
       url("/fonts/orpheus-pro/OrpheusPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-pink: 320 87% 75%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-pink: hsl(var(--accent-pink));
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-sans: "Orpheus Pro", serif;
  --font-mono: "Orpheus Pro", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent-pink: 320 87% 75%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-sans);
}
